In [32]:
# ingest the data.

In [33]:
import pandas as pd

##### Introduction About the Data :

##### The dataset The goal is to predict price of given diamond (Regression Analysis).

##### There are 10 independent variables (including id):

##### id : unique identifier of each diamond
##### carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.
##### cut : Quality of Diamond Cut
##### color : Color of Diamond
##### clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.
##### depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)
##### table : A diamond's table is the facet which can be seen when the stone is viewed face up.
##### x : Diamond X dimension
##### y : Diamond Y dimension
##### x : Diamond Z dimension
##### Target variable:

##### price: Price of the given Diamond.
##### Dataset Source Link : https://www.kaggle.com/competitions/playground-series-s3e8/data?select=train.csv

##### I have solved EDA step by step

<!-- Introduction About the Data :
The dataset The goal is to predict price of given diamond (Regression Analysis).

There are 10 independent variables (including id):

id : unique identifier of each diamond

carat : Carat (ct.) refers to the unique unit of weight measurement used exclusively to weigh gemstones and diamonds.

cut : Quality of Diamond Cut

color : Color of Diamond

clarity : Diamond clarity is a measure of the purity and rarity of the stone, graded by the visibility of these characteristics under 10-power magnification.

depth : The depth of diamond is its height (in millimeters) measured from the culet (bottom tip) to the table (flat, top surface)

table : A diamond's table is the facet which can be seen when the stone is viewed face up. -->

<!-- x : Diamond X dimension

y : Diamond Y dimension

x : Diamond Z dimension

Target variable:

price: Price of the given Diamond.

Dataset Source Link : https://www.kaggle.com/competitions/playground-series-s3e8/data?select=train.csv

I have solved EDA step by step -->

In [34]:
data = pd.read_csv(r"D:\fsdsmendtoend\notebooks\data\gem data.csv")

In [35]:
data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   1   0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1   2   0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2   3   0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3   4   0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4   5   0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779

In [36]:
data.tail()

,id,carat,cut,color,clarity,depth,table,x,y,z,price
26962,26963,1.11,Premium,G,SI1,62.3,58.0,6.61,6.52,4.09,5408
26963,26964,0.33,Ideal,H,IF,61.9,55.0,4.44,4.42,2.74,1114
26964,26965,0.51,Premium,E,VS2,61.7,58.0,5.12,5.15,3.17,1656
26965,26966,0.27,Very Good,F,VVS2,61.8,56.0,4.19,4.20,2.60,682
26966,26967,1.25,Premium,J,SI1,62.0,58.0,6.90,6.88,4.27,5166

In [37]:
data.sample(5)

,id,carat,cut,color,clarity,depth,table,x,y,z,price
2319,2320,0.56,Ideal,F,VS1,61.7,56.0,5.33,5.30,3.28,2016
1852,1853,0.33,Ideal,D,VS2,NaN,55.0,4.47,4.50,2.73,781
17785,17786,0.33,Premium,D,SI1,60.0,59.0,4.50,4.47,2.69,780
20195,20196,0.41,Ideal,H,IF,62.9,54.0,4.74,4.71,2.97,1243
886,887,1.52,Premium,H,SI1,61.2,58.0,7.53,7.43,4.57,8566

In [38]:
data.isnull().sum()

id           0
carat        0
cut          0
color        0
clarity      0
depth      697
table        0
x            0
y            0
z            0
price        0
dtype: int64

In [39]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26967 entries, 0 to 26966
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       26967 non-null  int64
 1   carat    26967 non-null  float64
 2   cut      26967 non-null  object
 3   color    26967 non-null  object
 4   clarity  26967 non-null  object
 5   depth    26270 non-null  float64
 6   table    26967 non-null  float64
 7   x        26967 non-null  float64
 8   y        26967 non-null  float64
 9   z        26967 non-null  float64
 10  price    26967 non-null  int64
dtypes: float64(6), int64(2), object(3)
memory usage: 2.3+ MB

In [40]:
data.drop(labels=["id"], axis = 1)

       carat        cut color clarity  depth  table     x     y     z  price
0       0.30      Ideal     E     SI1   62.1   58.0  4.27  4.29  2.66    499
1       0.33    Premium     G      IF   60.8   58.0  4.42  4.46  2.70    984
2       0.90  Very Good     E    VVS2   62.2   60.0  6.04  6.12  3.78   6289
3       0.42      Ideal     F     VS1   61.6   56.0  4.82  4.80  2.96   1082
4       0.31      Ideal     F    VVS1   60.4   59.0  4.35  4.43  2.65    779
...      ...        ...   ...     ...    ...    ...   ...   ...   ...    ...
26962   1.11    Premium     G     SI1   62.3   58.0  6.61  6.52  4.09   5408
26963   0.33      Ideal     H      IF   61.9   55.0  4.44  4.42  2.74   1114
26964   0.51    Premium     E     VS2   61.7   58.0  5.12  5.15  3.17   1656
26965   0.27  Very Good     F    VVS2   61.8   56.0  4.19  4.20  2.60    682
26966   1.25    Premium     J     SI1   62.0   58.0  6.90  6.88  4.27   5166

[26967 rows x 10 columns]